h1
{
color:red;
}
.row{

    background-color:#e0e0e0;
    color:black;
    font-size:20px;
}
.headshot{
    width:20%;
}
.mid{
    background-color:#afe5e0;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}
.aboutme{
    border:1px solid black;   
}
.ptag{
    display:flex;
}